<div class="levelEditorTopMenu row">
	
	<div class="col-xs-3">
		

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">LEVELEDITOR</h3>
			</div>
			<div class="panel-body">
				<button class="btn btn-primary btn-xs btn-block createLevelButton">CREATE A NEW LEVEL</button>
				<br>

				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">EDIT LEVELS</h3>
					</div>
					<div class="panel-body">
						<% _(levels).each(function(level){ %>
							<div class="btn-group btn-group-xs">
								<button class="btn btn-info levelButton" data-id="<%= level.id %>"><%= level.name %></button>
								<button class="btn btn-info deleteLevelButton" data-id="<%= level.id %>">
									<span class="glyphicon glyphicon-trash"></span>
								</button>
							</div>
						<% }); %>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-xs-9">
		<div id="levelSettingsContainer"></div>
		<div id="platformEditorContainer"></div>
	</div>
</div>